
[urls]
URL_USER_LOGIN = http://demo.gtesg.com/exchangeApi/user/login
URL_MATCH_ORDER = http://demo.gtesg.com/exchangeApi/match/order
URL_DEPOSIT_COIN = http://demo.gtesg.com/exchangeApi/coin/deposit-coin-asset-list


[users]
kily_dd@163.com = kily123


[symbols]
BTC_GT = BTC_GT
BTC_MBC = BTC_MBC
BTC_MFT = BTC_MFT
ETH_GT = ETH_GT
ETH_MBC = ETH_MBC
ETH_MFT = ETH_MFT
CNY_GT = CNY_GT
CNY_MBC = CNY_MBC
CNY_MFT = CNY_MFT
USD_GT = USD_GT
USD_MBC = USD_MBC
USD_MFT = USD_MFT


[mysql]
host = 127.0.0.1
port = 3306
username = root
password = 123456
dbname = CTE_market

[datas]
start = 15
end = 17



