
[urls]
URL_USER_LOGIN = http://demo.gtesg.com/exchangeApi/user/login
URL_MATCH_ORDER = http://demo.gtesg.com/exchangeApi/match/order
URL_DEPOSIT_COIN = http://demo.gtesg.com/exchangeApi/coin/deposit-coin-asset-list


[users]
kily_dd@163.com = kily123


[symbols]
BTC_GT = BTC,GT
BTC_MBC = BTC,MBC
BTC_MFT = BTC,MFT
ETH_GT = ETH,GT
ETH_MBC = ETH,MBC
ETH_MFT = ETH,MFT
CNY_GT = CNY,GT
CNY_MBC = CNY,MBC
CNY_MFT = CNY,MFT
USD_GT = USD,GT
USD_MBC = USD,MBC
USD_MFT = USD,MFT


